
.idea/

*.cf

__pycache__/

#apps/data/

checkpoint

weights/

weights.*

*.ghw

*.onnx

*.pkl

*.pth

*.npy

wlft*
*.wlf
work/
.nfs*
transcript
modelsim.ini
.vscode/

.run/

qshift/model/

*.png

.project

apps/data/

test_table/
debug
transcript
vsim*
work
xcelium*
xrun.history
*.cache
*.vcd
*.runs
obj_dir
*.fst
*.wcfg
.simvision
*.wlf
wlf*
.DS_Store

*.gtkw
*.gz
fv/
*.tstamp
*.sdf
work/
*.pdf
modelsim.ini
.~lock.*
*.db
*.X
*.dsn
*.trn
genus.cmd*
genus.log*

*.vstf
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.tiff
*.webp
    